.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: turquoise !important;
}

/* .collapse .navbar-collapse {
  justify-content: center;
} */

.m-auto {
  padding-right: 240px;
  font-size: 25px !important;
}

/* .btn2{
  color: black!important;
} */

.btn3 {
  background-color: #343a40 !important;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.navbarName {
  font-size: 3rem !important;
  background: linear-gradient(to right, white 0%, turquoise 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
  margin: 20px;
}