.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: lightseagreen;
}

/* .collapse .navbar-collapse {
  justify-content: center;
} */

.m-auto {
  padding-right:75px;
  font-size: 25px!important;
  padding-left: ;
}

.options {
  color:black;
}

.navbarName {
  font-size: 2.25rem!important;
}

li {
  margin:20px;
}