.header {
  margin-bottom: 14rem;
  margin-top: 5rem;
}

.portrait1 {
  height:75vh;
  border: 50px solid rgb(0, 0, 14)
}
 .intro {
   font-size: 75px;
   padding-left: 10%;
   color: white;
 }
 .info {
   font-size: 25px;
   padding-left: 10%;
   padding-right: 5%;
   color: rgb(155, 152, 152);
 }